.container {
    width: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente el logo y los enlaces */
}

.navbar-logo img {
  height: 80px;
  margin-right: 20px;

}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-block;
  margin-right: 20px;
}

.navbar-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
}

.navbar-link:hover {
  color: var(--primary-color-hover);
}
.card {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.card-header {
  margin-bottom: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.card-description {
  font-size: 14px;
  margin: 0;
}

.card-content {
  margin-top: 20px;
}
.friends-list {
  margin-top: 20px;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.friend-item:last-child {
  border-bottom: none;
}
footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.notification {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.notification.hidden {
  opacity: 0;
}
.myshadow {
  border-radius: 12px;
    box-shadow: 0px 0px 30px -7px rgba(192,217,195,0.4);
    /*Añadesombras*/text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.presents-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  background-color: #ccc;
  border-right: 1px solid #bbb;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.indicator {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: white;
}

.slide1 {
  background-color: #444;
  background-image: url("https://images.unsplash.com/photo-1468908627957-7783f0c42edb");
  
}

.slide2 {
  background-image: url("https://images.unsplash.com/photo-1523113501336-6ea4a7d6660d");
  
}

.slide3 {
  background-color: #444;
  background-image: url("https://images.unsplash.com/photo-1530706344228-b143ddd95043");

}

.slide4 {
  background-image: url("https://images.unsplash.com/photo-1528615551650-24970eddf481");

}

.slide5 {
  background-color: #444;
  background-image: url("https://images.unsplash.com/photo-1699413157949-2a4c56378065");

}

.slide6 {
  background-image: url("https://images.unsplash.com/photo-1698428059096-e7906118f7c2");
}
.instructions-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instructions-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.instructions-list li {
  margin-bottom: 20px;
}

.instructions-list h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
}

.instructions-list p {
  margin: 5px 0 0 0;
  font-size: 16px;
  color: var(--secondary-color);
}
.instructions-container h2 {
  margin: 5px 0 0 0;
  font-size: 16px;
  color: var(--secondary-color);
}

