:root {

    --primary-color:#8ABFA6;
    --primary-color-hover: #BFD9C3;
    --secondary-color: #262523;
    --alternative-color:#D98D62;
    --alternative-color2:#A64F3C;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
  
    --font-size-base: 16px;
    --line-height-base: 1.5;
    --container-max-width: 1140px;
  }